<ion-header [translucent]="true">
  <ion-toolbar colo="success">
    <ion-title class="center-title" >login AttendWorkID </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">CORREO</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CONTRASEÑA</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button href="trabajadores" class="ion-padding" color="primary">ACCEDER</ion-button>
  <ion-button class="ion-padding" color="primary">Registrarse</ion-button>
  
</ion-content>