/* Estilos generales */
ion-header,
ion-toolbar {
  --background: #424669;
}

ion-content {
  --background: #505479;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.login-form {
  background-color: #424669;
  
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.text-container {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0e7491;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 60%;
  max-width: 200px;
  height: auto;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #ffffff;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.boton-iniciosesion {
  --background: #f9b17a;
  --border-radius: 8px;
  --padding-start: 20px;
  --padding-end: 20px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding-bottom: 50px;
}

.boton-iniciosesion:hover {
  --background: #0056b3;
}

/* Estilo del modal */
ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219, 0.8);
}

ion-footer {
  text-align: center;
}

/* Responsividad */
@media (max-width: 768px) {
  .login-form {
    padding: 20px;
    max-width: 100%;
  }

  h2 {
    font-size: 28px;
  }

  .logo {
    width: 70%;
    max-width: 150px;
  }

  .form-control {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 44px;
    color: #ffffff;
  }

  .logo {
    width: 200%;
    max-width: 320px;
    padding-top: 150px;  
    padding-bottom: 100px;
  }

  .login-form {
    padding: 15px;
    height: auto;
  }

  .form-control {
    font-size: 14px;
  }
}
