.camera-content {
  --ion-background-color: black;  // Fondo negro para dar apariencia de fullscreen
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

video {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}
