<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="boton-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Asignar Turnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding calendar-content">
  <!-- Título de la vista actual -->
  <div class="current-view-title">{{ currentViewTitle }}</div>

  <div class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <div *ngIf="employeeShifts.length > 0 || employeeShifts.length === 0 " >
    <ion-button expand="full" (click)="openAssignShiftModal()">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Asignar Turno
    </ion-button>
  </div>

  <div *ngIf="employeeShifts.length > 0" class="shift-list">
    <ion-list class="turn-list">
      <ion-list-header>
        <h2>Turnos para el {{ selectedDate | date: 'dd MMMM yyyy' }}:</h2>
      </ion-list-header>
      <ion-item *ngFor="let shift of employeeShifts" class="shift-item">
        <ion-label>
          <h2>{{ shift.employeeName }} {{ shift.employeeLastName }}</h2>
          <p>De {{ shift.startTime }} a {{ shift.endTime }}</p>
        </ion-label>
        <ion-icon name="create" class="edit-icon" (click)="openEditShiftModal(shift)"></ion-icon>
        <ion-icon name="trash" class="trash-icon" (click)="deleteShift(shift)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="employeeShifts.length === 0" class="no-shifts">
    <p>No hay turnos asignados para esta fecha.</p>
  </div>
</ion-content>
