<ion-header>
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Calendario para seleccionar un día -->
  <full-calendar [options]="calendarOptions"></full-calendar>

  <!-- Si hay turnos -->
  <div *ngIf="employeeShifts.length > 0">
    <ion-list>
      <ion-list-header>Turnos para el {{ selectedDate }}:</ion-list-header>
      <ion-button expand="full" (click)="openAssignShiftModal()">Asignar Turno</ion-button>
      <ion-item *ngFor="let shift of employeeShifts">
        <ion-label>
          <h2>Empleado: {{ shift.employeeName }}</h2>
          <p>De {{ shift.startTime }} a {{ shift.endTime }}</p>
        </ion-label>
        <!-- Ícono de lápiz para modificar -->
        <ion-icon 
          name="create" 
          slot="end" 
          class="edit-icon" 
          (click)="openEditShiftModal(shift)">
        </ion-icon>
        <!-- Icono de basurero para eliminar el turno -->
        <ion-icon 
          name="trash" 
          slot="end" 
          class="trash-icon" 
          (click)="deleteShift(shift)">
        </ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <!-- Si no hay turnos -->
  <div *ngIf="employeeShifts.length === 0">
    <p>No hay turnos programados para el día {{ selectedDate }}.</p>
    <ion-button expand="full" (click)="openAssignShiftModal()">Asignar Turno</ion-button>
  </div>
</ion-content>
