<ion-header [translucent]="true">

  <ion-toolbar>


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button auto-hide="false"></ion-menu-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>



      </ion-row>
    </ion-grid>




  </ion-toolbar>
  <div class="container" style="background-color: #2D3250; padding: 5px;">
    <ion-title class=".ion-padding">Inicio</ion-title>
  </div>


</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>




</ion-content>