<ion-header>
  <ion-toolbar>
    <ion-title>Estadísticas de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chart-container" >
    <h2>Estadisticas del mes</h2>
    <canvas #diasTrabajadosChart ></canvas>
  </div>

 <div *ngIf="!isAdmin && turnosDelMes.length > 0" class="turnos-mensuales">
    <h3>Tus turnos del mes</h3>
    <ion-list>
      <ion-item *ngFor="let turno of turnosDelMes">
        <ion-label>
          <h2>Fecha: {{ turno.date | date: 'dd MMMM yyyy' }}</h2>
          <p>Hora de inicio: {{ turno.startTime }}</p>
          <p>Hora de fin: {{ turno.endTime }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
