<ion-header>
  <ion-toolbar>
    <ion-title>Estadísticas de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chart-container">
    <h2>Días trabajados en el mes</h2>
    <canvas #diasTrabajadosChart></canvas>
  </div>

  <div class="chart-container">
    <h2>Ausencias</h2>
    <canvas #ausenciasChart></canvas>
  </div>

  <div class="chart-container">
    <h2>Llegadas Tarde</h2>
    <canvas #llegadasTardeChart></canvas>
  </div>
</ion-content>
