<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-toolbar>
            <ion-searchbar 
              [(ngModel)]="rutBusqueda" 
              (ionInput)="buscarPorRut()"
              placeholder="Buscar por RUT"
              class="busquedaRUT">
            </ion-searchbar>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Mostrar el botón "Agregar trabajador" solo si el usuario es administrador -->
  <div class="container" style="background-color: #2D3250; padding: 5px; display: flex; justify-content: space-between; align-items: center;">
    <ion-title class="ion-padding">Lista de empleados</ion-title>
    <ion-button *ngIf="isAdmin" class="botonAgregar" id="open-modal-agregar" expand="block" (click)="resetFormulario()" style="margin-left: auto;">
      Agregar trabajador
    </ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Modal para agregar trabajador -->
  <ion-modal #modalAgregar trigger="open-modal-agregar">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar trabajador</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modalAgregar.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <!-- Formulario de agregar trabajador -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="trabajador.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="trabajador.contrasena"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rut</ion-label>
          <ion-input type="text" [(ngModel)]="trabajador.rut_empleado"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="trabajador.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input type="text" [(ngModel)]="trabajador.apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="number" [(ngModel)]="trabajador.telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cargo</ion-label>
          <ion-select [(ngModel)]="trabajador.cargo">
            <ion-select-option value="conserje">Conserje</ion-select-option>
            <ion-select-option value="aseo">Aseo</ion-select-option>
            <ion-select-option value="administrador">Administrador</ion-select-option>
          </ion-select>
        </ion-item>
        
        <!-- Campo para cargar la foto al agregar trabajador -->
        <ion-item>
          <ion-label position="stacked">Foto</ion-label>
          <input type="file" (change)="onImageSelected($event)" />
        </ion-item>
      </ion-content>

      <ion-footer>
        <ion-button expand="block" (click)="agregarTrabajador()">Agregar trabajador</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <!-- Lista de trabajadores -->
  <ion-card>
    <ion-list *ngIf="listaDeTrabajadores.length > 0">
      <ion-item *ngFor="let trabajador of listaDeTrabajadores">
        
        <!-- Mostrar la imagen del trabajador si existe -->
        <ion-thumbnail slot="start">
          <img *ngIf="trabajador.fotoUrl" [src]="trabajador.fotoUrl" alt="Foto de trabajador" />
          <ion-icon *ngIf="!trabajador.fotoUrl" name="person-circle-outline"></ion-icon>
        </ion-thumbnail>

        <ion-label>
          <h2>{{ trabajador.nombre }} {{ trabajador.apellido }}</h2>
          <p>Cargo: {{ trabajador.cargo }}</p>
          <p>Email: {{ trabajador.email }}</p>
          <p>Rut: {{ trabajador.rut_empleado }}</p>
        </ion-label>

        <!-- Botón para editar trabajador (solo visible para administradores) -->
        <ion-button *ngIf="isAdmin" shape="round" class="botonEditar" (click)="cargarTrabajadorParaEditar(trabajador); modalEditar.present()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        
        <!-- Botón para eliminar trabajador (solo visible para administradores) -->
        <ion-button *ngIf="isAdmin && trabajador.id" shape="round" class="botonEliminar" (click)="confirmarEliminarTrabajador(trabajador.id!, trabajador.fotoUrl!)">
          <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Modal para editar trabajador -->
  <ion-modal #modalEditar>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar trabajador</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modalEditar.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <!-- Formulario de editar trabajador -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="trabajador.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="trabajador.contrasena"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rut</ion-label>
          <ion-input type="text" [(ngModel)]="trabajador.rut_empleado"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="trabajador.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input type="text" [(ngModel)]="trabajador.apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="number" [(ngModel)]="trabajador.telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cargo</ion-label>
          <ion-select [(ngModel)]="trabajador.cargo">
            <ion-select-option value="conserje">Conserje</ion-select-option>
            <ion-select-option value="aseo">Aseo</ion-select-option>
            <ion-select-option value="administrador">Administrador</ion-select-option>
          </ion-select>
        </ion-item>
        
        <!-- Campo para cambiar la foto al editar trabajador -->
        <ion-item>
          <ion-label position="stacked">Cambiar Foto</ion-label>
          <input type="file" (change)="onEditImageSelected($event)" />
        </ion-item>
      </ion-content>

      <ion-footer>
        <ion-button expand="block" (click)="confirmarEditarTrabajador()">Guardar cambios</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>

</ion-content>
